language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
env:
  matrix:
    - EMACS=emacs
    - EMACS=emacs24 EMACS_PPA=ppa:cassou/emacs
    - EMACS=emacs-snapshot EMACS_PPA=ppa:ubuntu-elisp/ppa
    - EMACS=emacs-snapshot EMACS_PPA=ppa:cassou/emacs
  global:
    - CASK=$HOME/.cask/bin/cask
    # Turn on --use-mirrors option everywhere (even in tox):
    - PIP_USE_MIRRORS=t
    # Use Python version of the one used for running tox
    - TOXENV=py
matrix:
  allow_failures:
    # Allow failures with EMACS=emacs
    - env: EMACS=emacs
    - env: EMACS=emacs-snapshot EMACS_PPA=ppa:ubuntu-elisp/ppa
    - env: EMACS=emacs-snapshot EMACS_PPA=ppa:cassou/emacs
before_install:
  - pip install -q virtualenv tox

  - if [ -n "$EMACS_PPA" ]; then
      sudo add-apt-repository -y "$EMACS_PPA";
    fi

  - sudo apt-get update -qq

  - if [ "$EMACS" = "emacs24" ]; then
        sudo apt-get install -qq emacs24 emacs24-el;
    fi

  - if [ "$EMACS" = 'emacs-snapshot' ]; then
      sudo apt-get install -qq
          emacs-snapshot-el emacs-snapshot;
    fi
  - curl -fsSkL
        --max-time 10
        --retry 10
        --retry-delay 10
        https://raw.github.com/cask/cask/master/go | python

  # The following command does (should) not have any effect on test,
  # but to separate installation phase and testing phase:
  - make before-test
script:
  make travis-ci
