language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
env:
  matrix:
    - EMACS=emacs
    - EMACS=emacs24
    - EMACS=emacs-snapshot
  global:
    - CARTON=$HOME/.carton/bin/carton
before_install:
  - pip install -q virtualenv nose
  - pip install -q --requirement requirements.txt
  - curl -fsSkL
        --max-time 10
        --retry 10
        --retry-delay 10
        https://raw.github.com/rejeep/carton/master/go | sh
  - if [ "$EMACS" = "emacs24" ]; then
        sudo add-apt-repository -y ppa:cassou/emacs &&
        sudo apt-get update -qq &&
        sudo apt-get install -qq emacs24 emacs24-el;
    fi
  - if [ "$EMACS" = 'emacs-snapshot' ]; then
      sudo add-apt-repository -y ppa:cassou/emacs &&
      sudo apt-get update -qq &&
      sudo apt-get install -qq
          emacs-snapshot-el emacs-snapshot-gtk emacs-snapshot;
    fi
script:
  make travis-ci
